


  <p>
    <%= fields.label :titel %><br />
    <%= fields.text_field :titel %>
  </p>
  <p>
    <%= fields.label :code %><br />
    <%= fields.text_field :code %>
  </p>
  <p>
    <%= fields.label :description %><br />
    <%= fields.text_area :description %>
  </p>
  <p>
    <%= fields.submit 'Save' %>
  </p>

